.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $background-color;
  .logo {
    margin-bottom: 20px;
  }

  .cosial-media__svg {
    fill: #ffffff;
  }
}

.footer__container {
  display: block;

  @include media(noComputer) {
    text-align: center;
  }
  @include media(tablet) {
    flex-wrap: wrap;

    align-items: baseline;
    display: flex;
  }

  // @include media(tablet) and (max-width: 1199.98px) {

  // }
}

// .footer__label {
//   @include media(tablet) {
//     display: flex;
//     flex-direction: column;
//   }
// }

.footer__item {
  display: flex;
  flex-direction: column;

  @include media(tablet-only) {
    margin-left: auto;
    margin-right: auto;
  }
}

.footer__item:not(:last-child) {
  @include media(noComputer) {
    margin-bottom: 60px;
  }
  @include media(computer) {
    margin-right: 70px;
  }
  // @include media(tablet) {
  //   margin-left: auto;
  // }
}

.footer__item:last-child {
  @include media(computer) {
    margin-left: auto;
  }
}

.footer__contact-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__contact-link {
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-timing-function: $timing-function;
  transition-duration: $timing-duraction;
}

.footer__contact-link[target="_blank"] {
  color: #ffffff;

  //    &:hover,
  //    &:focus {
  //        color: $accent-color;
  //    }
}

.footer__contact-link:hover,
.footer__contact-link:focus {
  color: $accent-color;
}

.footer__title {
  display: block;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 20px;
  font-weight: 700;
}

.footer__form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;

  @include media(mobile-only) {
    display: block;
  }

  @include media(tablet-only) {
    display: block;
  }
}
.footer__label {
  display: block;
  @include media(noComputer) {
    width: 100%;
    margin-bottom: 20px;
  }
}

.footer__input {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);

  height: 50px;
  background-color: inherit;
  outline: none;
  border-radius: 4px;
  color: #ffffff;

  &:hover,
  &:focus {
    border: 1px solid #2196f3;
  }

  @include media(mobile-only) {
    max-width: 358px;
    width: 100%;
  }
  @include media(tablet) {
    width: 450px;
  }
  @include media(computer) {
    margin-right: 12px;
    width: 358px;
  }
}

.footer__form-svg {
  margin-left: 10px;
}
