.hero {
  background-color: var(--background-color);
  padding: 118px 0;
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/hero-sm.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  margin: 0 auto;
  @include media(retina) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-sm@2x.jpg);
  }
  @include media(computer) {
    padding: 200px 0;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-lg.jpg);

    @include media(retina) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero/hero-lg@2x.jpg);
    }
  }

  &__title {
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    max-width: 696px;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color: $primary-text-color;
    @include media(computer) {
      font-size: 44px;
      line-height: 1.36;
    }
  }
}
