.partners__list {
  --card-item: 2;

  @include media(tablet) {
    --card-item: 3;
  }
  @include media(computer) {
    --card-item: 6;
  }
}

.partners__link {
  justify-content: center;
  align-items: center;
  display: flex;

  width: 100%;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #afb1b8;

  transition-property: border;

  transition-duration: $timing-duraction;
  transition-timing-function: $timing-function;

  &:hover .partners__icon,
  &:focus .partners__icon {
    fill: #2196f3;
  }
}

.partners__link:hover,
.partners__link:focus {
  border: 1px solid #2196f3;
}

.partners__icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-timing-function: $timing-function;
  transition-duration: $timing-duraction;
}
