.contact__list {
  display: flex;
  margin-left: auto;

  @include media(mobile-only) {
    display: none;
  }

  @include media(tablet-only) {
    display: block;
  }
}

.contact__item:not(:last-child) {
  @include media(tablet-only) {
    margin-bottom: 10px;
  }

  @include media(computer) {
    margin-right: 50px;
  }
}

.contact__link {
  position: relative;

  display: flex;
  align-items: center;
  text-decoration: none;

  //   padding-top: 32px;
  //   padding-bottom: 32px;

  transition-property: color;
  transition-timing-function: $timing-function;
  transition-duration: $timing-duraction;

  &:hover {
    color: $accent-color;
  }

  &:focus {
    color: $accent-color;
  }

  @include media(computer) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contact__link {
  &:hover .contact__icon {
    fill: $accent-color;
  }

  &:focus .contact__icon {
    fill: $accent-color;
  }
}

.contact__icon {
  margin-right: 10px;
  fill: #757575;
  transition-property: fill;
  transition-timing-function: $timing-function;
  transition-duration: $timing-duraction;
}
