.contact__list {
  display: flex;
  margin-left: auto;

  @media (max-width: 767.98px) {
    display: none;
  }

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    display: block;
  }
}

.contact__item {
  margin-right: 50px;
}

.contact__item:last-child {
  margin-right: 0px;
}

.contact__link {
  position: relative;

  display: flex;
  align-items: center;
  text-decoration: none;

  //   padding-top: 32px;
  //   padding-bottom: 32px;
  margin-bottom: 10px;

  transition-property: color;
  transition-timing-function: $timing-function;
  transition-duration: $timing-duraction;

  &:hover {
    color: $accent-color;
  }

  &:focus {
    color: $accent-color;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contact__link {
  &:hover .contact__icon {
    fill: $accent-color;
  }

  &:focus .contact__icon {
    fill: $accent-color;
  }
}

.contact__icon {
  margin-right: 10px;
  fill: #757575;
  transition-property: fill;
  transition-timing-function: $timing-function;
  transition-duration: $timing-duraction;
}
