.menu-container {
  background-color: #ffffff;
  padding: 48px 40px;
  height: 100vh;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  z-index: 9;

  &.is-open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.menu-navigation {
  font-size: 40px;
  line-height: 1.17;
}

.menu-navigation__item {
  list-style: none;
}

.menu-navigation__item:not(:last-child) {
  margin: bottom 32px;
}

.menu-navigation__link--current {
  text-decoration: none;
  color: $accent-color;
}

.menu-navigation__link {
  color: #212121;

  text-decoration: none;
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  transition: fill $timing-duraction $timing-function;

  &:hover,
  &:focus {
    fill: #2196f3;
  }
  @include media(tablet) {
    display: none;
  }
}

.menu-button {
  &.is-open {
    position: fixed;
    z-index: 10;
    top: 20px;
    right: 20px;
  }
  & .icon-cross {
    display: none;
  }

  &.is-open .icon-cross {
    display: block;
  }

  &.is-open .icon-menu {
    display: none;
  }
}

.menu__contact {
  row-gap: 32px;
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 64px;
}

.menu__contact-phone {
  font-size: 34px;
  line-height: 1.17;
  color: #2196f3;
  margin-bottom: 32px;
}

.menu__contact-mail {
  font-size: 24px;
  line-height: 1.16;
  margin-bottom: 64px;
  color: #757575;
}

.menu__social-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  letter-spacing: 0.02em;

  color: #2196f3;
}

.menu__social-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}
