.menu-container {
  background-color: #ffffff;
  padding-top: 48px;
  padding-left: 40px;

  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  display: none;

  &.is-open {
    display: block;
  }

  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }

  &.is-open {
    display: flex;
    flex-direction: column;
  }
}

.menu-navigation {
  font-size: 40px;
  line-height: 1.17;
}

.menu-navigation__item {
  list-style: none;
}

.menu-navigation__item:not(:last-child) {
  margin: bottom 32px;
}

.menu-navigation__link--current {
  text-decoration: none;
  color: $accent-color;
}

.menu-navigation__link {
  color: #212121;

  text-decoration: none;
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-button {
  & .icon-cross {
    display: none;
  }

  &.is-open .icon-cross {
    display: block;
  }

  &.is-open .icon-menu {
    display: none;
  }
}
