.navigation {
  display: flex;

  align-items: center;
  color: $title-text-color;
  @include media(mobile-only) {
    justify-content: space-between;
    width: 100%;
  }
}

.navigation__list {
  display: flex;

  @media (max-width: 767.98px) {
    display: none;
  }
}

.navigation__link--current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  content: "";
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  bottom: -1px;
}

.navigation__item {
  margin-right: 50px;
}

.navigation__item:last-child {
  margin-right: 0;
}

.navigation__link {
  position: relative;

  display: flex;
  align-items: center;

  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;

  transition-property: color;
  transition-timing-function: $timing-function;
  transition-duration: $timing-duraction;
}

.navigation__link--current,
.navigation__link:hover,
.navigation__link:focus {
  color: $accent-color;
}

.menu-navigation__item:not(:last-child) {
  margin-bottom: 32px;
}

// &--current {
//     color: $accent-color;
// }

// &:hover,
// &:focus {
//     color: $accent-color;
// }

// // почему не работает?
