.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section__title {
  margin-bottom: 50px;
  color: $title-text-color;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  @media screen and (min-width: 480px) {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.17;
  }
}
