$primary-text-color: #ffffff;
$title-text-color: #212121;
$accent-color: #2196f3;
$small-text-color: #757575;
$background-color: #2f303a;
$timing-duraction: 1000ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

:root {
  --gap-left: 30px;
  --gap-top: 30px;
  --card-item: 1;
}
